header{
    #menu{
        background-color: black;
        opacity: 0.9;
        nav{
            height: 90px;
            .logo{
                width: 18%;
                margin-left: 10%;
            }
            .menuNav{
                font-family: $Tipografia_texto;
                margin-left: 260px;
                
            }
            .nav-item{
                @include menu_item;
                .nav-item:hover{
                    background-color: $Color_Claro1;
                    cursor: pointer;
                }
            } 
            .nav-link{
                @include menu_link;
            }
        }
    }
}