header{
    #prueba{
        background-color: $Color_Claro2;
        nav{
            .logo{
                width: 300px;
                margin-left: 5%;
            }
            .menuHamburguesa{
                background-color: $Color_Claro2;
                color: $Color_Oscuro;
            }
            .menuNav{
                font-family: $Tipografia_texto;
                font-size: 20px;
                padding-left: 340px;
                
            }
            li a{
                font-family: $Tipografia_texto;
                display: inline-block;
                font-size: 20px;
                text-decoration: none;
                color: $Color_Oscuro;
                padding: 20px;
                transition: all .3s ease;
                
                li a:hover{
                    background-color: $Color_Claro1;
                    cursor: pointer;
                }
            }
        }
    }
}