.main_contacto{
    .transition_expand{
        font-family: $Tipografia_titulos;
        color: $Color_Claro2;
        font-size: 90px;
        margin-left: 7%;
        transition: all 2s ease;
    }
    .transition_expand:hover{
        font-size: 120px;
    }
    .contacto{
        fieldset{
            width: 80%;
            margin-left: 7%;
            font-family: $Tipografia_texto;
            color: $Color_Oscuro;
            border:2px, groove, black;
        }
        .formulario{
            padding:20px;
        }
    }
}