.main_contacto{
    .fondo_contacto{
        @include slider_principal;
        background-image: url(/img/breakfast.jpg);
        .centrados{
            @include centrados;
        }
        h6{
            font-family: $Tipografia_texto;
            font-size: 30px;
            font-weight: bold;
            color: $Color_Oscuro;
            text-align: center;
            
        }
    }
    p{
        @include parrafos;
    }
    
    .transition_expand{
        @include expand;
        margin-left: 12%;
    }
    .transition_expand:hover{
        font-size: 120px;
    }
    .contacto{
        width: 100%;
        fieldset{
            width: 80%;
            margin: $Margin;
            font-family: $Tipografia_texto;
            color: $Color_Oscuro;
            border: 2px groove black;
        }
        .formulario{
            padding:20px;
        }
    }
}