.quienes_somos{
    section{
        .presentacion{
            font-family: $Tipografia_titulos;
            margin-left: 7%;
            color: $Color_Claro2;
            font-size: 110px;
        }
        .parrafos{
            margin-left: 7%;
            font-family: $Tipografia_texto;
            color: $Color_Oscuro;
            font-size: 20px;
        }
    }
    .subtitulos{
        font-family: $Tipografia_titulos;
        color: $Color_Oscuro;
        font-size: 80px;
        margin-left: 7%;
    }
    .videosPresentacion{
        width: 100%;
        background-image: url(/img/medialuna.jpg);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        .video{
            margin: 20px;
        }
    
    }


}